@import "theme";

.status-feed-img {
  width: 90%;
}

.status-feed {
  text-align: center;
  margin: 0 auto;

  .glyphicon-pencil {
    position: absolute;
    border: dotted 2px orange;
  }

  .status-text {
    position: relative;
    display: block;

  }

  .display-date {
    margin-top: 0%;
    padding-top: 0%;
    font-size: 75%;
  }
}
