@import "theme";


.status-feed {
  text-align: center;
  margin: 0 auto;

  .glyphicon-pencil {
    position: absolute;
    display: inline-block;
    margin-right: 70%;
  }

  p {
    position: relative;
    display: block;

  }

  img {
    width: 60%;
  }
}
