<section class="status-feed">
  <div class="container">

    <div class="status-container">
      <edit-status
      ng-if="statusFeedCtrl.showEditStatus"
      status="statusFeedCtrl.status"></edit-status>
    <p>
      {{statusFeedCtrl.status.text}}
      <span class="glyphicon glyphicon-pencil"
      ng-click="statusFeedCtrl.showEditStatus = !statusFeedCtrl.showEditStatus"></span>
    </p>
    <img class="status-feed-img" ng-src="{{statusFeedCtrl.status.fileID.fileURI}}">
    <p class="display-date">Status Posted: {{statusFeedCtrl.status.created | date:'MMM d, y h:mm: a'}}</p>
   </div>




    <delete-status status="statusFeedCtrl.status"></delete-status>
  </div>
</section>
