<!-- <section class="status-feed">
  <div class="container">


    <edit-status
    ng-if="statusFeedCtrl.showEditStatus"
    status="statusFeedCtrl.status"></edit-status>

    <div class="status-container">
      <status-feed-profile profile="statusFeedCtrl.profile"></status-feed-profile>
      <p class="status-text">
        {{statusFeedCtrl.status.text}}
        <span class="glyphicon glyphicon-pencil"
        ng-click="statusFeedCtrl.showEditStatus = !statusFeedCtrl.showEditStatus"></span>
      </p>
      <img class="status-feed-img" ng-src="{{statusFeedCtrl.status.fileID.fileURI}}">
      <p class="display-date">Status Posted: {{statusFeedCtrl.status.created | date:'MMM d, y h:mm: a'}}</p>
   </div>

   <delete-status status="statusFeedCtrl.status"></delete-status>
  </div>
</section> -->
<div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <edit-status
    ng-if="statusFeedCtrl.showEditStatus"
    status="statusFeedCtrl.status"></edit-status>

    <div class="status-container">
      <status-feed-profile profile="statusFeedCtrl.profile"></status-feed-profile>
      <p class="status-text">
        {{statusFeedCtrl.status.text}}
        <span class="glyphicon glyphicon-pencil"
        ng-click="statusFeedCtrl.showEditStatus = !statusFeedCtrl.showEditStatus"></span>
      </p>
      <img class="status-feed-img" ng-src="{{statusFeedCtrl.status.fileID.fileURI}}">
      <p class="display-date">Status Posted: {{statusFeedCtrl.status.created | date:'MMM d, y h:mm: a'}}</p>
   </div>

   <delete-status status="statusFeedCtrl.status"></delete-status>
  </div>
</div>
</div>
