// @import "theme";
//
.profile-top {

  img {
    max-width: 25%;
    margin: 0 auto;
    height: auto;
  }
}
//
//   h3 {
//     margin: 0 auto;
//     position: relative;
//     display: inline-block;
//     text-align: center;
//     border: dotted 2px orange;
//   }
//
//   p {
//     // margin-top: 0%;
//     margin: 0 auto;
//     padding-top: 0%;
//     position: absolute;
//     max-width: 100%;
//     text-align: left;
//     display: inline-sblock;
//     border: dotted 2px orange;
//   }
//
//
//
// }
