@import "theme";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.75;
    color: #333333;
    background-color: #fff;
    letter-spacing: .1rem;
    text-align: center;
}

form {
  text-align: center;

  .form-control {
    height: 3em;
  }
}

.navbar {
  .btn-logout {
    display: none;
    @media (min-width: 500px){
      display: inline-block;
    }
  }

  .btn-dropdown  {
    padding: 10%;
    span{
      font-size: 1.5em;

      @media (min-width: 500px){
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .form-inline .form-control {
    display: inline-block;
    width: 35em;
  }
}
