@import "theme";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.75;
    color: #333333;
    background-color: #fff;
    letter-spacing: .1rem;
    text-align: center;
}

// form {
//
//     text-align: center;
//
//
//   .btn-primary {
//       background-color: white;
//       border-color: white;
//   }
//
//   .glyphicon-camera:before {
//     content: "\E046";
//     font-size: 2em;
//   }
//
//   .glyphicon-plus:before {
//     content: "+";
//     font-size: 1.75em;
//   }
//
//
//   .form-control {
//
//   }
// }
//
// .navbar {
//   .btn-logout {
//     display: none;
//     @media (min-width: 500px){
//       display: inline-block;
//     }
//   }
// }
//
// @media (min-width: 768px) {
//   .form-inline .form-control {
//     display: inline-block;
//     width: 35em;
//   }
// }
