<nav class="navbar">
  <div class="container-fliud">
    <img class="navbar-brand" ng-click="navCtrl.home()" ng-src="{{navCtrl.logoPic}}">
    <div ng-hide="navCtrl.hideLogout">
    <!-- <button ng-click="navCtrl.logout()"
      class="btn pull-right btn-default navbar-btn btn-logout">
      logout
    </button> -->
    <div class="btn-group pull-right" uib-dropdown>
      <button id="btn-append-to-body"
        type="button"
        class="btn btn-dropdown btn-primary navbar-btn"
        uib-dropdown-toggle>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>

      <ul class="dropdown-menu" uib-dropdown-menu role="menu">
        <li role="menuitem"><a href="#" ng-click="navCtrl.logout()">Logout</a></li>
        <li role="menuitem"><a href="#">Profile</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
  </div>
</nav>
