@import "theme";

footer ul {

  margin-top: -10%;
  text-align: center;

    li {
      list-style: none;
      display: inline;
      margin-right: 12%;
      font-size: 2em;

      a {
        color: #0078ae;
      }
    }
}
