@import "theme";

footer ul {

  margin-top: -10%;
  text-align: center;
  // background-color: #FF5029;
  background-color: #0078ae;

    li {
      list-style: none;
      display: inline;
      margin-right: 12%;
      font-size: 2em;

      a {
        color: $app-white;
      }
    }
}
